/* general */

$pistachio: #D8E3C3;

html, body {
  color: white;
  background-color: black;
  font-family: Helvetica, Arial ,sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;

}

li {
  list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fashion-logo {
  margin-bottom: 100px;
  height: 42px;

  &.white path {
    fill: white;
  }
  &.black path {
    fill: black;
  }
}


/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 12px 32px 24px;
  background-color: rgba(0,0,0,100);

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 85vw;
    height: 100vh;
    background-color: black;
    opacity: 95%;
    z-index: 100;

    .bar-btn {
      padding: 0;
    }

    button.x-btn {
      float: right;
      padding: 50px;
    }
  }

  .menu-list {
    padding: 100px 50px;
    li {
      font-size: 36px;
      margin: 10px 0;
    }
    a:hover {
      font-style: italic;
      color: $pistachio;
    }
  }
}



/* home */
#home h1 {
  color: white;
}


/* blog */

#blog {
  margin: 50px 0;

  .preview img {
    width: 100%;
  }

  .preview a {
    margin-top: 22px;
    color: white;
    font-size: 15px;
    &:hover {
      color: $pistachio;
    }
  }

  .preview h3 {
    font-size: 1em;
    padding-left: 5px;
  }

}

/* post */

#post {
  margin: 50px 0;
  color: black;

 .main-img img {
   width: 100%;
 }

 .content {
  width: 100%;
  padding: 24px;

   .info h3 {
     margin: 5px 0
   }

   .info p {
     margin: 5px 0;
   }

   h1.title {
     padding: 24px 0;
   }

    .markdown {
      margin: 24px 0;
   }

   .markdown p, img {
     width: 100%;
   }
 }
}


/* back to top */


#blog .back-to-top {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 25px 0;
  background-color: rgba(0,0,0,0.75);

  a {
    color: white;
    font-weight: bold;
  }
  a:hover {
    color: $pistachio;
  }
}

#post .back-to-top {
  padding: 25px 0;

  a {
    color: black;
    font-weight: bold;
    margin: 0 24px;
  }
  a:hover {
    color: $pistachio;
  }
}

/* footer */

#footer {
  color: white;
  background-color: black;
  padding: 12px 24px;
  width: 100%;

  .section {
    padding: 12px 0;
  }

  h5.title {
    margin-bottom: 15px;
  }

  li, p, a {
    font-size: 0.85em;
  }

  .copyright {
    color: white;
    text-align: center;
    margin: 12px 0;
  }

}


@media (min-width:600px) {

  #navbar {
    padding: 32px 2.5%;

    .menu {
      width: 85vw;
      height: 85vh;
    }

    .menu-list {
      li {
        font-size: 42px;
      }
    }
  }

  #blog {
    padding: 0 2.5%;
    .preview {
      padding: 25px;
      margin-bottom: 50px;
    }
    .fashion-logo {
      margin-bottom: 50px;
    }
  }

  #post {

    .info h3, p {
      text-align: center;
    }

    .content {
      max-width: 720px;
    }

  }

  #footer {
    padding: 12px 2.5%;

    .section {
      padding: 25px;
    }
  }

}
