/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* general */

$pistachio: #D8E3C3;

body {
  background-color: black;
}

a {
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fashion-logo {
  margin-top: 50px;
}


/* navbar */
#navbar {
  padding: 50px 25px;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 85vw;
  background-color: black;
  opacity: 95%;
  button.x-btn {
    float: right;
    padding: 50px;
  }
}

.menu-list {
  padding: 100px 50px 100px 75px;
  li {
    list-style: none;
    font-size: 80px;
  }
  a {
    color: white;
  }
  a:hover {
    font-style: italic;
    color: $pistachio;
  }
}

/* blog */

#blog {
  margin: 0 25px;
}

#blog .preview {
  padding: 75px 25px;
}

#blog .preview img {
  width: 100%;
}

#blog .preview a {
  margin-top: 22px;
  color: white;
  font-size: 15px;
  &:hover {
    color: $pistachio;
  }

}

a.back-to-top {
  color: white;
  &:hover {
    color: $pistachio;
  }
}

