/* CSS DIRECTORY
  1.  =Global
  2.  =Banner
	3.  =Navbar
	4.  =Footer
	5.  =NewsLetter
  6.  =Home
  6a. =Indicator
  7.  =Partners
  8.  =About
  9.  =Blog
  10. =Post
  11. =Contact
  12. =Legal
  13. =NotFound
*/



/* ===============
   1. =Global
=============== */

$pistachio: #D8E3C3;
$dark-pistachio: rgb(98, 149, 30);

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Helvetica-Light", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;

}

li {
  list-style: none;
}

input, textarea {
  font-family: Helvetica, Arial, sans-serif;
}

#root {
  overflow-x: hidden;
  &.dark {
    color: white;
    background-color: black;
  }

}

.content-wrapper {
  margin: 150px 0 50px 0 !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fashion-logo {
  margin: 50px 0 100px 0;
  height: 42px;

  &.white path {
    fill: white;
  }
  &.black path {
    fill: black;
  }
}

.lead {
  margin-top: 75px;
  padding: 24px;
  font-style: italic;
}

.loading {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ===============
   2. =Banner
=============== */

@keyframes contactSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2255px)
  }
}

@keyframes termsSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1775px)
  }
}

@keyframes privacySlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2360px)
  }
}

@keyframes partnersSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2325px)
  }
}

@keyframes aboutSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1725px)
  }
}

.banner-wrapper {
  overflow: hidden;
  width: 100%;
}

.sliding-banner {
  overflow: hidden;
  height: 155px;
  background-repeat: repeat-x;

  &.terms {
    width: 5000px;
    background-image: url("./assets/terms-banner.svg");
    animation: termsSlide 20s linear infinite;
  }

  &.privacy {
    width: 4000px;
    background-image: url("./assets/privacy-banner.svg");
    animation: privacySlide 20s linear infinite;
  }

  &.contact {
    width: 4000px;
    background-image: url("./assets/contact-banner.svg");
    animation: contactSlide 20s linear infinite;
  }

  &.partners {
    width: 4000px;
    background-image: url("./assets/partners-banner.svg");
    animation: partnersSlide 20s linear infinite;
  }

  &.about {
    width: 4000px;
    background-image: url("./assets/about-banner.svg");
    animation: aboutSlide 20s linear infinite;
  }
}



/* ===============
   3. =Navbar
=============== */

@keyframes menuSlide {
  0%{
    width: 0%;
  }
  100%{
    width: 85vw;
  }
}

@keyframes linkHoverAnimation {
  0%{
    font-style: normal;
  }
  100%{
    font-style: italic;;
  }
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 12px 32px 24px;
  z-index: 200;
  transition: opacity 0.25s ease-in-out;

  &.dark {
    background-image: linear-gradient(black, rgba(0,0,0,0))
  }
  &.light {
    background-image: linear-gradient(white, rgba(0,0,0,0))
  }

  .menu-container {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }
  }


  .menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 85vw;
    height: 100vh;
    background-color: black;
    animation: menuSlide 0.25s ease-out;

    .bar-btn {
      padding: 0;
    }

    button.x-btn {
      float: right;
      padding: 50px;
    }
  }

  .menu-list {
    padding: 100px 50px;
    li {
      font-size: 36px;
      margin: 10px 0;
    }
    a:hover {
      font-style: italic;
      color: $pistachio;
      animation: linkHoverAnimation 0.1s ease-in;
    }
  }
}

#navbar.fixed {
  position: fixed;
}



/* ===============
   4. =Footer
=============== */

  #footer {
  color: white;
  background-color: black;
  padding: 12px 24px;
  width: 100%;
  border-top: 1px solid $pistachio;
  z-index: 100;

  .section {
    padding: 12px 0;
    min-width: 100%;
  }

  h5.title {
    margin-bottom: 15px;
  }

  li, p, a {
    font-size: 0.85em;
  }

  .copyright {
    width: 100%;
    p {
      color: white;
      text-align: center;
      margin: 12px 0;
    }
  }

}



/* ===============
   5. =Newsletter
=============== */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .email-input {
    display: flex;
    width: 100%;
    min-width: 220px;
    margin-bottom: 15px;
  }

  input[type="text"] {
    width: 100%;
    background: black;
    border-width: 0px;
    color: $pistachio;
    font-size: 0.8rem;
    padding: 0 10px;
    font-style: italic;
    letter-spacing: 0.5px;

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      color: $pistachio;
    }

  }
  input[type="submit"] {
    color: white;
    background: none;
    border: none;
    font-size: 0.85rem;
    padding: 0;
    font-weight: 500;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      color: $pistachio;
    }
  }

  .alert-message {
    color: $pistachio;
  }
}


/* ===============
   6. =Home
=============== */

#home {
  color: white;

  .panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 50px;
      text-align: center;
      font-style: oblique;
      letter-spacing: 1px;
    }

    h1.video {
      position: absolute;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button.down-arrow {
      align-self: flex-end;
      position: absolute;
      width: 100%;
      padding-bottom: 24px;
      z-index: 25;
      background-color: transparent;
      border: 0px;

      &:hover {
        color: $pistachio;
      }
    }

    .back-to-top {
      color: white;
      font-weight: bold;
    }
  }

  .columns {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .panel {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .column1 {
    width: 100vw;
    height: 40vh;
  }
  .column2 {
    width: 100vw;
    height: 60vh;
  }

  #indicator {
    display: none;
  }
}



/* ===============
   7. =Partners
=============== */

#partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 50px 0;

  .partners-section {
    padding: 0 24px;
  }

  hr {
    border: 1px solid $pistachio;
    width: 100%;
    margin-bottom: 25px;
  }

  .project {
    width: 100%;
    margin-bottom: 50px;

    img {
      width: 100%;
      height: auto;
      padding-bottom: 12px;
    }

    img.sm {
      display: block;
    }

    img.lg {
      display: none;
    }

    p.description {
      font-weight: 100;
      font-size: 14px;
    }
  }
}



/* ===============
   8. =About
=============== */

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sections {
    width: 100%;
    padding: 0 24px;
  }

  section.about-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px 0;

    .mesh {
      img {
        width: 100%;
      }
    }

    &.create img {
      transform: rotate(180deg);
    }
    &.believe img {
      transform: rotate(-100deg);
    }

    .action {
      margin-left: 12px;
      color: $pistachio;
    }

    span {
      font-size: 55px;
      font-weight: bold;
    }

  }
}


/* ===============
   9. =Blog
=============== */

#blog {
  margin: 150px 0 50px 0;

  .preview {

    .aspect-ratio-16-9 {
      width: 100%;
      padding-bottom: calc(100% * 16 / 9);
      background-size: cover !important;
    }

    a {
      margin-top: 22px;
      color: white;
      font-size: 15px;
      &:hover {
        color: $pistachio;
      }
    }

    h3 {
      font-size: 1rem;
      padding-left: 5px;
    }
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 25px 0;
    background-color: rgba(0,0,0,0.75);

    a {
      color: white;
      font-weight: bold;
    }
    a:hover {
      color: $pistachio;
    }
  }

}


/* ===============
   10. =Post
=============== */

#post {
  margin-top: 200px;
  color: black;
  background-color: white;

 .main-img {
   width: 100%;
   height: 550px;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
 }

 .post-wrapper {
  width: 100%;
  padding: 24px;

    .info h3 {
      margin: 5px 0
   }

   .info p {
     margin: 5px 0;
     padding-top: 10px;
   }

   h1.title {
     padding: 24px 0;
   }

    .content {
      margin: 24px 0;

      p, img {
        width: 100%;
      }
      figure {
        margin: 0;
      }
    }
 }

  .back-to-top {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    width: 100%;

    a {
      color: black;
      font-weight: bold;
      margin: 0 24px;
    }
    a:hover {
      color: $pistachio;
    }

  }
}



/* ===============
   11. =Contact
=============== */

#contact {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    width: 100%;
  }
  .lead {
    color: black;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 80%;

  input {
    width: 100%;
    height: 40px;
    margin: 12px 0;
    border: 0.75px solid black;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    &::placeholder {
     color: $pistachio
    }

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  textarea {
    width: 100%;
    height: 120px;
    margin: 12px 0;
    padding: 12px;
    border: 0.75px solid black;
    font-size: 12px;
    font-weight: bold;

    &::placeholder {
      text-align: center;
      color: $pistachio;
      padding-top: 45px;
    }

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  input[type="submit"] {
    background-color: $pistachio;
    font-size: 0.85rem;
    color: black;
    border: none;
    width: 120px;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: $pistachio;
    }
  }

  .alert {
    height: 24px;
    color: $dark-pistachio;
  }

}



/* ===============
   12. =Legal
=============== */

#legal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    font-family: Helvetica, Arial, sans-serif;
    margin: 50px 0;
    padding: 0 10px;
    max-width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
  }
}


/* ===============
   13. =NotFound
=============== */

#notFound {
  width: 100%;
  height: 35vh;
  margin: 100px 0;
  padding: 24px;
  text-align: center;
}



/* ===============
      WEB
=============== */


/* web large screen styles */
@media (min-width:600px) {

  .lead {
    font-size: 20px;
    max-width: 750px;
    text-align: center;
  }

  /* web navbar */
  #navbar {
    padding: 32px 2.5%;

    .menu {
      width: 85vw;
      height: 85vh;
    }

    .menu-list {
      li {
        font-size: 42px;
      }
    }
  }

  /* web footer */
  #footer {
    padding: 12px 2.5%;

    .section-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .section {
      min-width: auto;
    }
  }

  /* web =home */
  #home {

    .panel {
      h1 {
        font-size: 80px;
        letter-spacing: 1.5px;
      }

      button.down-arrow {
        display: none;
      }
    }

    .columns {
      flex-direction: row;
    }

    .column1 {
      width: 50%;
      height: 100vh;
    }

    .column2 {
      width: 50%;
      height: 100vh;
    }

    #indicator {
      display: block;
    }

  }


/* web =indicator*/

#indicator {
  position: fixed;
  left: 24px;
  top: calc(50% - 75px);
  z-index: 100;
  color: white;

  .container {
    display: flex;
    align-items: center;
  }

  button.box {
    width: 10px;
    height: 35px;
    border: none;
    margin: 5px 0;
    padding: 0;
    cursor: pointer;
    background-color: $pistachio;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      outline: none;
    }
  }

  .label {
    margin-left: 12px;
    font-size: 12px;
    visibility: hidden;
  }

  .container.active {
    //animation: indicatorSlide 0.15s ease-out;

    button.box {
      border: 1.25px solid $pistachio;
      background-color: rgba(0,0,0,0);
    }
    .label {
      visibility: visible;
    }
  }
}


  /* web partners */
  #partners {
    .project {
      display: flex;
      flex-direction: row;

      .container-1 {
        width: 40%;
        padding-right: 50px;
      }

      .container-2 {
        width: 60%;
      }

      img.sm {
        display: none;
      }
      img.lg {
        display: block;
      }
    }
  }

  /* web =about */
  #about {

    .sections {
      padding: 0 5%;
    }

    section.about-section {

      flex-direction: row;
      align-items: center;


      .mesh {
        width: 40%;
        img {
          max-width: 450px;
          display: block;
          margin: auto;
        }
      }

      .content {
        width: 50%;
        max-width: 550px;
        padding-left: 50px;
        p {
          line-height: 1.75;
        }
      }

    }
  }


  /* web blog */
  #blog {
    padding: 0 2.5%;

    .preview {
      padding: 25px;
      margin-bottom: 50px;
    }

  }

  /* web post */
  #post {
    .info {
      text-align: center;
    }

    .post-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content {
      max-width: 720px;
    }

  }

  /* web contact */
  #contact {
    .lead {
      max-width: 750px;
    }
  }

  /* web contact form */
  #contact-form {
    input, textarea {
      max-width: 550px;
      height: 50px;
      margin: 24px 0;
    }
    textarea {
      height: 200px;
    }
  }

  /* web legal */
  #legal {
    .content {
      max-width: 700px;
    }
  }

}

/* web scrollbar for legal pages */
#scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5 !important;
}
#scrollbar::-webkit-scrollbar-thumb {
  background-color: $pistachio !important;
}
#scrollbar::-webkit-scrollbar-track{
  background-color: #F5F5F5 !important;
}

#scrollbar {
  scrollbar-color: $pistachio #F5F5F5 !important;
  scrollbar-width: 12px !important;
  border-radius: 0px
}

/* universal scrollbar for all pages */
body::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0,0,0,0.1) !important;
}
body::-webkit-scrollbar-thumb {
  background-color: $pistachio !important;
}
body:-webkit-scrollbar-track{
  background-color: #F5F5F5 !important;
}

body {
  scrollbar-color: $pistachio rgba(0,0,0,0.1) !important;
  border-radius: 0px
}
