/* CSS DIRECTORY
  1.  =Global
  2.  =Banner
	3.  =Navbar
	4.  =Footer
	5.  =NewsLetter
  6.  =Home
  7.  =Partners
  8.  =About
  9.  =Blog
  10. =Post
  11. =Contact
  12. =Legal
*/



/* ===============
   1. =Global
=============== */

$pistachio: #D8E3C3;
$dark-pistachio: rgb(98, 149, 30);

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;

}

li {
  list-style: none;
}

#root {
  &.dark {
    color: white;
    background-color: black;
  }

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fashion-logo {
  margin-bottom: 100px;
  height: 42px;

  &.white path {
    fill: white;
  }
  &.black path {
    fill: black;
  }
}

.lead {
  margin-top: 75px;
  padding: 24px;
}



/* ===============
   2. =Banner
=============== */

@keyframes contactSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2250px)
  }
}

@keyframes termsSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1750px)
  }
}

@keyframes privacySlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2325px)
  }
}

@keyframes partnersSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2325px)
  }
}

@keyframes aboutSlide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2590px)
  }
}

.banner-wrapper {
  overflow: hidden;
  width: 100%;
}

.sliding-banner {
  overflow: hidden;
  height: 155px;
  background-repeat: repeat-x;

  &.terms {
    width: 5000px;
    background-image: url("./assets/terms-banner.svg");
    animation: termsSlide 20s linear infinite;
  }

  &.privacy {
    width: 4000px;
    background-image: url("./assets/privacy-banner.svg");
    animation: privacySlide 20s linear infinite;
  }

  &.contact {
    width: 4000px;
    background-image: url("./assets/contact-banner.svg");
    animation: contactSlide 20s linear infinite;
  }

  &.partners {
    width: 4000px;
    background-image: url("./assets/partners-banner.svg");
    animation: partnersSlide 20s linear infinite;
  }

  &.about {
    width: 4000px;
    background-image: url("./assets/about-banner.svg");
    animation: aboutSlide 20s linear infinite;
  }
}



/* ===============
   3. =Navbar
=============== */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 12px 32px 24px;
  z-index: 100;

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 85vw;
    height: 100vh;
    background-color: black;
    z-index: 100;

    .bar-btn {
      padding: 0;
    }

    button.x-btn {
      float: right;
      padding: 50px;
    }
  }

  .menu-list {
    padding: 100px 50px;
    li {
      font-size: 36px;
      margin: 10px 0;
    }
    a:hover {
      font-style: italic;
      color: $pistachio;
    }
  }
}

#navbar.fixed {
  position: fixed;
  z-index: 10;
}



/* ===============
   4. =Footer
=============== */

  #footer {
  color: white;
  background-color: black;
  padding: 12px 24px;
  width: 100%;
  border-top: 1px solid $pistachio;
  z-index: 100;

  .section {
    padding: 12px 0;
    min-width: 100%;
  }

  h5.title {
    margin-bottom: 15px;
  }

  li, p, a {
    font-size: 0.85em;
  }

  .copyright {
    color: white;
    text-align: center;
    margin: 12px 0;
  }

}



/* ===============
   5. =Newsletter
=============== */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .email-input {
    display: flex;
    width: 100%;
    min-width: 210px;
    max-width: 220px;
    margin-bottom: 15px;
  }

  input[type="text"] {
    width: 100%;
    background: black;
    border-width: 0px;
    color: $pistachio;
    font-size: 0.85em;
    padding: 0 10px;
    font-style: italic;
    letter-spacing: 0.5px;

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      color: $pistachio;
    }

  }
  input[type="submit"] {
    color: white;
    background: none;
    border: none;
    font-size: 0.85em;
    padding: 0;
    font-weight: 500;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      color: $pistachio;
    }
  }

  .alert-message {
    color: $pistachio;
  }
}


/* ===============
   6. =Home
=============== */

#home {
  color: white;

  .panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 50px;
      text-align: center;
      font-style: oblique;
      letter-spacing: 1px;
    }
  }

  .panel.columns {
    flex-direction: column;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .bg {
    background-repeat: no-repeat;
    background-position: center;
  }

  .overview {
    background-image: url(./assets/section-overview.jpg);
  }
  .partners {
    background: url(./assets/section-partners.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .about {
    width: 100vw;
    height: 40vh;
    background-image: url(./assets/section-about.jpg);
  }
  .blog {
    width: 100vw;
    height: 60vh;
    background-image: url(./assets/section-blog.jpg);
  }
  .contact {
    background-image: url(./assets/section-contact.jpg);
  }
}



/* ===============
   7. =Partners
=============== */

#partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 50px 0;

  .content-wrapper {
    padding: 0 24px;
  }

  hr {
    border: 1px solid $pistachio;
    width: 100%;
    margin-bottom: 25px;
  }

  .project {
    width: 100%;
    margin-bottom: 50px;

    img {
      width: 100%;
      height: auto;
      padding-bottom: 12px;
    }

    img.sm {
      display: block;
    }

    img.lg {
      display: none;
    }

    p.description {
      font-weight: 100;
      font-size: 14px;
    }
  }
}



/* ===============
   8. =About
=============== */

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  margin-bottom: 250px;

  .banner-wrapper {
    z-index: 50;
    background-color: white;
  }

  #observerRoot {
    opacity: 1;
    margin-top: 250px;
  }

  section.content-wrapper {
    display:flex;
    flex-direction: column;

    .mesh {
      position: fixed;
      top: 0%;
      height: 50%;
      width: 100%;
      padding-top: 5%;
      opacity: 0;
      background-color: white;
      padding: 12px;
      z-index: 10;
      img {
        width: 100%;
      }
    }

    &.create img {
      transform: rotate(180deg) translateX(24px);
    }
    &.believe img {
      transform: rotate(-100deg);
    }

    .mask {
      width: 100%;
      position: fixed;
      height: 45%;
      top: 0;
      background-color: white;
    }

    .we {
      position: fixed;
      top: 45%;
      margin-left: 24px;
      background-color: white;
      width: 100%;
      z-index: 20;
    }

    .action {
      position: fixed;
      width: 100%;
      top: 45%;
      margin-left: 120px;
      color: $pistachio;
      background-color: white;
      z-index: 30;
    }

    .content {
      margin-top: 300px;
      padding: 0 24px;
    }

    span {
      font-size: 55px;
      font-weight: bold;
    }

  }
}


/* ===============
   9. =Blog
=============== */

#blog {
  margin: 50px 0;

  .preview img {
    width: 100%;
  }

  .preview a {
    margin-top: 22px;
    color: white;
    font-size: 15px;
    &:hover {
      color: $pistachio;
    }
  }

  .preview h3 {
    font-size: 1em;
    padding-left: 5px;
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 25px 0;
    background-color: rgba(0,0,0,0.75);

    a {
      color: white;
      font-weight: bold;
    }
    a:hover {
      color: $pistachio;
    }
  }

}


/* ===============
   10. =Post
=============== */

#post {
  margin-top: 50px;
  color: black;
  background-color: white;

 .main-img img {
   width: 100%;
 }

 .post-wrapper {
  width: 100%;
  padding: 24px;

    .info h3 {
      margin: 5px 0
   }

   .info p {
     margin: 5px 0;
   }

   h1.title {
     padding: 24px 0;
   }

    .content {
      margin: 24px 0;

      p, img {
        width: 100%;
      }
      figure {
        margin: 0;
      }
    }
 }

  .back-to-top {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    width: 100%;

    a {
      color: black;
      font-weight: bold;
      margin: 0 24px;
    }
    a:hover {
      color: $pistachio;
    }

  }
}



/* ===============
   11. =Contact
=============== */

#contact {
  background-color: white;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    width: 100%;
  }
  .lead {
    color: black;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 80%;

  input {
    width: 100%;
    height: 40px;
    margin: 12px 0;
    border: 0.75px solid black;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    &::placeholder {
     color: $pistachio
    }

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  textarea {
    width: 100%;
    height: 120px;
    margin: 12px 0;
    padding: 12px;
    border: 0.75px solid black;
    font-size: 12px;
    font-weight: bold;

    &::placeholder {
      text-align: center;
      color: $pistachio;
      padding-top: 45px;
    }

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  input[type="submit"] {
    background-color: $pistachio;
    color: black;
    border: none;
    width: 120px;
    cursor: pointer;
  }

  .alert {
    height: 24px;
    color: $dark-pistachio;
  }

}



/* ===============
   12. =Legal
=============== */

#legal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    font-family: Helvetica, Arial, sans-serif;
    margin: 50px 0;
    padding: 0 10px;
    max-width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
  }
}



/* ===============
      WEB
=============== */


/* web large screen styles */
@media (min-width:600px) {

  .lead {
    font-size: 20px;
    max-width: 750px;
    text-align: center;
  }

  /* web navbar */
  #navbar {
    padding: 32px 2.5%;

    .menu {
      width: 85vw;
      height: 85vh;
    }

    .menu-list {
      li {
        font-size: 42px;
      }
    }
  }

  /* web footer */
  #footer {
    padding: 12px 2.5%;
    .section {
      min-width: auto;
    }
  }

  /* web =home */
  #home {

    .panel {
      h1 {
        font-size: 80px;
        letter-spacing: 1.5px;
      }
    }

    .panel.columns {
      flex-direction: row;
    }

    .about {
      width: 50%;
      height: 100vh;
    }

    .blog {
      width: 50%;
      height: 100vh;
    }


  }

  /* web partners */
  #partners {
    .project {
      display: flex;
      flex-direction: row;

      .container-1 {
        width: 40%;
        padding-right: 50px;
      }

      .container-2 {
        width: 60%;
      }

      img.sm {
        display: none;
      }
      img.lg {
        display: block;
      }
    }
  }

  /* web =about */
  #about {


    section.content-wrapper {
      padding: 0 5%;

      .mesh {
        width: 45%;
        height: 100%;
        img {
          max-width: 500px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          padding-right: 50px;
        }
      }

      .we {
        left : 50%;
        top: calc(40% - 55px);
        z-index: 40;
      }

      .action {
        left: 50%;
        top: calc(40%);
        margin-left: 24px;
        z-index: 30;
      }

      .content {
        width: 45%;
        margin-left: 50%;
      }

      .mask {
        position: fixed;
        top: 0;
        left: 50%;
        width: 45%;
        height: 40%;
        background-color: white;

      }

    }
  }


  /* web blog */
  #blog {
    padding: 0 2.5%;

    .preview {
      padding: 25px;
      margin-bottom: 50px;
    }

    .fashion-logo {
      margin-bottom: 50px;
    }
  }

  /* web post */
  #post {
    .info {
      text-align: center;
    }

    .post-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content {
      max-width: 720px;
    }

  }

  /* web contact */
  #contact {
    .lead {
      max-width: 750px;
    }
  }

  /* web contact form */
  #contact-form {
    input, textarea {
      max-width: 550px;
      height: 50px;
      margin: 24px 0;
    }
    textarea {
      height: 200px;
    }
  }

  /* web legal */
  #legal {
    .content {
      max-width: 700px;
    }
  }

}

/* web scrollbar for legal pages */
#scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5 !important;
}
#scrollbar::-webkit-scrollbar-thumb {
  background-color: $pistachio !important;
}
#scrollbar::-webkit-scrollbar-track{
  background-color: #F5F5F5 !important;
}

#scrollbar {
  scrollbar-color: $pistachio #F5F5F5 !important;
  scrollbar-width: 12px !important;
  border-radius: 0px
}
